@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all ease 0.95s;
}

html{
    font-family: Poppins, sans-serif;
    background-image: url(../Imagenes/body_bg.png);
}

header{
    background-color: #232323;
    margin-bottom: 1pc;
    display: flex;
    justify-content: space-between;
    padding: 0 1pc;
    height: 5pc;
    color: #ffffff;
    font-weight: bold;
    align-items: center;
}

header div{
    display: flex;
    align-items: center;
    gap: 10px;


}

header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
}


.card{
  
    background-color: #232323;
    color: #ffffff;
    width: 19pc;
    

}
.number{
    position: relative;
    height: 14pc;
    width: 100%;
    background-color: #ffffff;
    color: #616161;
    opacity: 0.2;
    text-align: center;
    font-size: 6pc;
}
.image{
    position: absolute;
    top: 120px;
    left: 30%;
    align-content: center;
    
}

.card:hover{
    background-color: #616161;
   
}

.card:hover .number{
    
    opacity: 1;
    font-size: 8pc;
    
}

.card:hover .image{
    width: 16pc;
    height: 200px;
    top: -1px;
    left: 8%;
   
    
}

.containerInfo h5 {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.centrar {
    display: flex;
    align-items: center;
    gap: 1pc;
    padding: 8px;
}

.border {
    padding: 3px;
    margin: 0;
    border-radius: 6px;
}

/*
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);


}
*/
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 0 200px;
}
.carrusel{
    padding: 16px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 16px;
    scrollbar-width: 10px;
    scrollbar-color:gray;
    
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  .mas{
    color: #f1f1f1;
    padding: 16px;
  }

  .dos{
    margin: 16px 64px 16px 0;
  }
  